In [1]:
import pandas as pd
# import matplotlib.pyplot as plt

import sklearn
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from keras.utils import to_categorical

import numpy as np
import json

Using TensorFlow backend.

In [2]:
df = pd.read_csv("Resources/02_data_after_API_calls.csv")

In [3]:
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.reset_index(inplace=True, drop=True)
df.describe()

            Opening     Theaters       Movie ID        Budget      Runtime
count  1.907000e+03  1907.000000    1907.000000  1.907000e+03  1907.000000
mean   2.792583e+07  2913.979549   84520.794442  6.206534e+07   110.750393
std    2.729695e+07   702.092481  131170.037936  5.495635e+07    18.674676
min    1.000198e+07   629.000000      12.000000  0.000000e+00    26.000000
25%    1.339860e+07  2503.000000    7456.000000  2.400000e+07    97.000000
50%    1.896668e+07  2950.000000   11820.000000  4.600000e+07   108.000000
75%    3.053719e+07  3389.500000   88396.500000  8.000000e+07   122.000000
max    3.571150e+08  4662.000000  533642.000000  5.000000e+08   201.000000

In [4]:
df.head()

,Title,Studio,Opening,Theaters,Date,Movie ID,Budget,Runtime,Genres,Directing,Producing,Writing,Rating
0,Avengers: Endgame,BV,357115007,4662,2019-04-26,299534,356000000,181.0,"['Adventure', 'Science Fiction', 'Action']","['Joe Russo', 'Anthony Russo', 'Chris Castaldi...","['Kevin Feige', 'Jon Favreau', 'Sarah Finn', '...","['Christopher Markus', 'Stephen McFeely', 'Jim...",PG-13
1,Avengers: Infinity War,BV,257698183,4474,2018-04-27,299536,300000000,149.0,"['Adventure', 'Action', 'Fantasy']","['Joe Russo', 'Anthony Russo', 'Chris Castaldi...","['Kevin Feige', 'Jon Favreau', ""Louis D'Esposi...","['Stephen McFeely', 'Jack Kirby', 'Christopher...",PG-13
2,Star Wars: The Force Awakens,BV,247966675,4134,2015-12-18,140607,245000000,136.0,"['Action', 'Adventure', 'Science Fiction', 'Fa...",['J.J. Abrams'],"['Bryan Burk', 'J.J. Abrams', 'Kathleen Kenned...","['J.J. Abrams', 'Lawrence Kasdan', 'George Luc...",PG-13
3,Star Wars: The Last Jedi,BV,220009584,4232,2017-12-15,181808,200000000,152.0,"['Fantasy', 'Adventure', 'Science Fiction', 'A...","['Rian Johnson', 'Jamie Christopher', 'Paula C...","['Kathleen Kennedy', 'Ram Bergman', 'J.J. Abra...","['George Lucas', 'Rian Johnson']",PG-13
4,Jurassic World,Uni.,208806270,4274,2015-06-12,135397,150000000,124.0,"['Action', 'Adventure', 'Science Fiction', 'Th...","['Colin Trevorrow', 'Chris Castaldi', 'Zack Sm...","['Steven Spielberg', 'Frank Marshall', 'Patric...","['Michael Crichton', 'Rick Jaffa', 'Amanda Sil...",PG-13

# Genres to MLB
Get dummies didn't work on lists, trying MLB.

Need to change column to arrays before MLB will work.

In [5]:
genres_column = df['Genres']
genres_column = genres_column.apply(eval)
genres_column

0                    [Adventure, Science Fiction, Action]
1                            [Adventure, Action, Fantasy]
2           [Action, Adventure, Science Fiction, Fantasy]
3           [Fantasy, Adventure, Science Fiction, Action]
4          [Action, Adventure, Science Fiction, Thriller]
5                    [Science Fiction, Action, Adventure]
6           [Action, Adventure, Fantasy, Science Fiction]
7                    [Action, Adventure, Science Fiction]
8                  [Action, Adventure, Animation, Family]
9                    [Adventure, Action, Science Fiction]
10                   [Action, Adventure, Science Fiction]
11                           [Family, Fantasy, Adventure]
12                           [Action, Adventure, Fantasy]
13                       [Action, Crime, Drama, Thriller]
14                       [Drama, Action, Crime, Thriller]
15                   [Adventure, Action, Science Fiction]
16                   [Action, Adventure, Science Fiction]
17                   [Action, Adventure, Science Fiction]
18                  [Science Fiction, Adventure, Fantasy]
19                           [Fantasy, Action, Adventure]
20                   [Action, Adventure, Science Fiction]
21                              [Action, Crime, Thriller]
22           [Action, Adventure, Comedy, Science Fiction]
23                   [Adventure, Fantasy, Drama, Romance]
24                   [Adventure, Fantasy, Drama, Romance]
25                          [Adventure, Fantasy, Romance]
26                           [Adventure, Fantasy, Action]
27                 [Adventure, Animation, Comedy, Family]
28      [Action, Adventure, Crime, Fantasy, Science Fi...
29                            [Action, Adventure, Comedy]
                              ...
1877            [Crime, Drama, Mystery, Thriller, Action]
1878                                     [Drama, Romance]
1879                             [Drama, Science Fiction]
1880                  [Mystery, Thriller, Horror, Comedy]
1881                               [Comedy, Crime, Drama]
1882                                [Comedy, Documentary]
1883                            [Romance, Comedy, Family]
1884                                             [Comedy]
1885                                             [Horror]
1886          [Family, Drama, Science Fiction, Adventure]
1887                                   [Horror, Thriller]
1888                                             [Comedy]
1889                                       [Crime, Drama]
1890          [Drama, Mystery, Science Fiction, Thriller]
1891                            [Comedy, Family, Fantasy]
1892                          [Adventure, Drama, History]
1893                                              [Drama]
1894    [Adventure, Fantasy, Action, Comedy, Science F...
1895           [Drama, Crime, Mystery, Romance, Thriller]
1896                             [Comedy, Drama, Romance]
1897                          [Fantasy, Horror, Thriller]
1898                    [Drama, Crime, Mystery, Thriller]
1899                                     [Drama, Romance]
1900                        [Action, Adventure, Thriller]
1901                                      [Drama, Action]
1902                             [Comedy, Drama, Romance]
1903                                    [Comedy, Romance]
1904                                              [Drama]
1905                                     [Drama, Romance]
1906                                       [Crime, Drama]
Name: Genres, Length: 1907, dtype: object

In [6]:
mlb = MultiLabelBinarizer()
rows=mlb.fit_transform(genres_column)
len(rows)

1907

In [7]:
columns = list(mlb.classes_)
len(columns)

18

In [8]:
genre_df = pd.DataFrame(rows, columns= mlb.classes_).add_prefix('Genre_')
genre_df.head()

,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Comedy,Genre_Crime,Genre_Documentary,Genre_Drama,Genre_Family,Genre_Fantasy,Genre_History,Genre_Horror,Genre_Music,Genre_Mystery,Genre_Romance,Genre_Science Fiction,Genre_Thriller,Genre_War,Genre_Western
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
3,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0

# Directing to MLB

In [9]:
directing_column = df['Directing']
directing_column = directing_column.apply(eval)
# directing_column
mlb = MultiLabelBinarizer()
rows=mlb.fit_transform(directing_column)
# len(rows)
columns = list(mlb.classes_)
# len(columns)
directing_df = pd.DataFrame(rows, columns= mlb.classes_).add_prefix('Director_')
directing_df.head()

,Director_A. Hugo Gutierrez Cuellar,Director_Aaron Blaise,Director_Aaron C. Fitzgerald,Director_Aaron Horvath,Director_Aaron Seltzer,Director_Aaron Wiener,Director_Abby Kohn,Director_Abby Mills,Director_Abigail L.S. Yardley,Director_Abraham DeOcampo,...,Director_Yong Zhong,Director_Yudi Bennett,Director_Yun Shin,Director_Yusuf Hassan,Director_Zack Smith,Director_Zack Snyder,Director_Zhang Yimou,Director_Zoe Morgan,Director_Zoe Simijonovic,Director_Zolani Phakade
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

# Producing to MLB

In [10]:
producing_column = df['Producing']
producing_column = producing_column.apply(eval)
# producing_column
mlb = MultiLabelBinarizer()
rows=mlb.fit_transform(producing_column)
# len(rows)
columns = list(mlb.classes_)
# len(columns)
producing_df = pd.DataFrame(rows, columns= mlb.classes_).add_prefix('Producer_')
producing_df.head()

,Producer_A. Kitman Ho,Producer_A. Todd Holland,Producer_A. Welch Lambeth,Producer_A.J. Dix,Producer_A.J. Riebli III,Producer_A.K. Hottman,Producer_A.W. Gryphon,Producer_Aaron Auch,Producer_Aaron B. Koontz,Producer_Aaron Boyd,...,Producer_Zsolt Vereckei,Producer_Zsuzsanna Kurucz,Producer_Zsófia Zatureczki,Producer_Zulfiquar Rahman,Producer_production manager,Producer_Ágoston Félegyházy Megyesy,Producer_Álvar Carretero de la Fuente,Producer_Árni Björn Helgason,Producer_Árpád Görögh,Producer_Şafak Binay
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Writing to MLB

In [11]:
writing_column = df['Writing']
writing_column = writing_column.apply(eval)
# writing_column
mlb = MultiLabelBinarizer()
rows=mlb.fit_transform(writing_column)
# len(rows)
columns = list(mlb.classes_)
# len(columns)
writing_df = pd.DataFrame(rows, columns= mlb.classes_).add_prefix('Writer_')
writing_df.head()

,Writer_A.J. Quinnell,Writer_Aaron Clark,Writer_Aaron Covington,Writer_Aaron Guzikowski,Writer_Aaron Harberts,Writer_Aaron Horvath,Writer_Aaron Kandell,Writer_Aaron Seltzer,Writer_Aaron Sorkin,Writer_Aaron Stockard,...,Writer_Yvette Kaplan,Writer_Zach Helm,Writer_Zach Shields,Writer_Zack Snyder,Writer_Zack Stentz,Writer_Zak Penn,Writer_Zane Smith,Writer_Zeke Richardson,Writer_Álvaro Rodríguez,Writer_Éric Toledano
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Get dummies for Studio and Rating

In [12]:
# df = df.drop(columns=["Date", "Movie ID", "Title", "Genres", "Directing", "Producing", "Writing"])
# df = pd.get_dummies(df)
# df.head()

# Merge all back together
and export df again for next steps (ML)

In [13]:
new_df = pd.concat([df, genre_df, directing_df, producing_df, writing_df], axis=1)

In [14]:
new_df.shape

(1907, 16229)

In [15]:
new_df.to_csv("Resources/03_new_df.csv", index=False, header=True)