In [74]:
import pandas as pd

# import matplotlib.pyplot as plt

import sklearn
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn_pandas import DataFrameMapper

from keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.metrics import mean_squared_error

# Read the CSV and Perform Basic Data Cleaning

In [75]:
df = pd.read_csv("Resources/03_new_df.csv")
df.describe()

,Opening,Theaters,Budget,Runtime,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Comedy,Genre_Crime,Genre_Documentary,...,Writer_Yvette Kaplan,Writer_Zach Helm,Writer_Zach Shields,Writer_Zack Snyder,Writer_Zack Stentz,Writer_Zak Penn,Writer_Zane Smith,Writer_Zeke Richardson,Writer_Álvaro Rodríguez,Writer_Éric Toledano
count,1.907000e+03,1907.000000,1.907000e+03,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,...,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000,1907.000000
mean,2.792583e+07,2913.979549,6.206534e+07,110.750393,0.359203,0.280545,0.093865,0.409544,0.149449,0.004719,...,0.000524,0.000524,0.000524,0.002622,0.001573,0.004719,0.000524,0.000524,0.000524,0.000524
std,2.729695e+07,702.092481,5.495635e+07,18.674676,0.479893,0.449384,0.291717,0.491879,0.356624,0.068554,...,0.022899,0.022899,0.022899,0.051151,0.039642,0.068554,0.022899,0.022899,0.022899,0.022899
min,1.000198e+07,629.000000,0.000000e+00,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.339860e+07,2503.000000,2.400000e+07,97.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.896668e+07,2950.000000,4.600000e+07,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.053719e+07,3389.500000,8.000000e+07,122.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.571150e+08,4662.000000,5.000000e+08,201.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [76]:
df.head()

,Studio,Opening,Theaters,Date,Budget,Runtime,Rating,Genre_Action,Genre_Adventure,Genre_Animation,...,Writer_Yvette Kaplan,Writer_Zach Helm,Writer_Zach Shields,Writer_Zack Snyder,Writer_Zack Stentz,Writer_Zak Penn,Writer_Zane Smith,Writer_Zeke Richardson,Writer_Álvaro Rodríguez,Writer_Éric Toledano
0,BV,357115007,4662,2019-04-26,356000000,181.0,PG-13,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,BV,257698183,4474,2018-04-27,300000000,149.0,PG-13,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,BV,247966675,4134,2015-12-18,245000000,136.0,PG-13,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,BV,220009584,4232,2017-12-15,200000000,152.0,PG-13,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Uni.,208806270,4274,2015-06-12,150000000,124.0,PG-13,1,1,0,...,0,0,0,0,0,0,0,0,0,0

# Change Date

In [77]:
date_column = df["Date"].str.split("-", n = 2, expand = True) 
year_col= date_column[0] 
month_col= date_column[1] 
day_col= date_column[2]

In [78]:
# one_hot_year = OneHotEncoder(dtype=np.int, categories="auto", sparse=False).fit_transform(year_col.values.reshape(-1,1))
# one_hot_year = pd.Series(list(one_hot_year))
# # Create DataFrame 
# new_year_df = pd.DataFrame(one_hot_year, columns=["Year"])

In [79]:
# one_hot_month = OneHotEncoder(dtype=np.int, categories="auto", sparse=False).fit_transform(month_col.values.reshape(-1,1))
# one_hot_month = pd.Series(list(one_hot_month))
# new_month_df = pd.DataFrame(one_hot_month, columns=["Month"])

In [80]:
# one_hot_day = OneHotEncoder(dtype=np.int, categories="auto", sparse=False).fit_transform(day_col.values.reshape(-1,1))
# one_hot_day = pd.Series(list(one_hot_day))
# new_day_df = pd.DataFrame(one_hot_day, columns=["Day"])

In [81]:
year_col.describe()

count     1907
unique      40
top       2012
freq        89
Name: 0, dtype: object

In [82]:
label_encoder = LabelEncoder()
label_encoder.fit(year_col)
encoded_year = label_encoder.transform(year_col)

In [83]:
encoded_year

array([39, 38, 35, ..., 26, 34, 32])

In [84]:
one_hot_year = to_categorical(encoded_year)
one_hot_year

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [85]:
one_hot_year.shape

(1907, 40)

In [86]:
one_hot_month = to_categorical(month_col)
one_hot_month

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [87]:
one_hot_month.shape

(1907, 13)

In [88]:
one_hot_day = to_categorical(day_col)
one_hot_day

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]], dtype=float32)

In [89]:
one_hot_day.shape

(1907, 32)

In [90]:
year_df = pd.DataFrame(one_hot_year).add_prefix('Year_')

In [91]:
month_df = pd.DataFrame(one_hot_month).add_prefix('Month_')

In [92]:
day_df = pd.DataFrame(one_hot_day).add_prefix('Day_')

In [93]:
# date_df = pd.concat([year_df, month_df, day_df], axis=1)
# trying it without YEAR
date_df = pd.concat([month_df, day_df], axis=1)
date_df.shape

(1907, 45)

In [94]:
df = df.drop(columns=["Date"])
df = pd.get_dummies(df)
df.head()

,Opening,Theaters,Budget,Runtime,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Comedy,Genre_Crime,Genre_Documentary,...,Studio_Uni.,Studio_W/Dim.,Studio_WB,Studio_WB (NL),Studio_Wein.,Rating_G,Rating_NR,Rating_PG,Rating_PG-13,Rating_R
0,357115007,4662,356000000,181.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,257698183,4474,300000000,149.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,247966675,4134,245000000,136.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,220009584,4232,200000000,152.0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,208806270,4274,150000000,124.0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [95]:
df = pd.concat([df, date_df], axis=1)
df.head()

,Opening,Theaters,Budget,Runtime,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Comedy,Genre_Crime,Genre_Documentary,...,Day_22,Day_23,Day_24,Day_25,Day_26,Day_27,Day_28,Day_29,Day_30,Day_31
0,357115007,4662,356000000,181.0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,257698183,4474,300000000,149.0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,247966675,4134,245000000,136.0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,220009584,4232,200000000,152.0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,208806270,4274,150000000,124.0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Create a Train Test Split
Use `Opening` for the y values

In [96]:
target = df["Opening"]
data = df.drop("Opening", axis=1)
feature_names = data.columns
data.head()

,Theaters,Budget,Runtime,Genre_Action,Genre_Adventure,Genre_Animation,Genre_Comedy,Genre_Crime,Genre_Documentary,Genre_Drama,...,Day_22,Day_23,Day_24,Day_25,Day_26,Day_27,Day_28,Day_29,Day_30,Day_31
0,4662,356000000,181.0,1,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,4474,300000000,149.0,1,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,4134,245000000,136.0,1,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4232,200000000,152.0,1,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4274,150000000,124.0,1,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [98]:
X_train.shape

(1430, 16314)

In [99]:
y_train.shape

(1430,)

# Pre-processing

Scale the data using the MinMaxScaler

In [100]:
X_minmax = MinMaxScaler().fit(X_train)
# y_train.values.reshape(-1, 1)
y_minmax = MinMaxScaler().fit(y_train.values.reshape(-1, 1))

In [101]:
X_train_scaled = X_minmax.transform(X_train)
X_test_scaled = X_minmax.transform(X_test)
y_train_scaled = y_minmax.transform(y_train.values.reshape(-1, 1))
y_test_scaled = y_minmax.transform(y_test.values.reshape(-1, 1))

In [102]:
# X_mapper = DataFrameMapper([(['Theaters', 'Budget', 'Runtime'], MinMaxScaler())], 
#                           default=None).fit(X_train)

In [103]:
# X_train_scaled = X_mapper.transform(X_train)
# X_test_scaled = X_mapper.transform(X_test)

In [104]:
X_train_scaled.shape

(1430, 16314)

In [ ]:
X_train_scaled

In [ ]:
y_train.shape

# Try simple linear regression

In [49]:
# Import dependencies
from sklearn.linear_model import LinearRegression

# Create a linear model
model = LinearRegression()

# Fit (Train) our model to the data
model.fit(X_train_scaled, y_train_scaled)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
predictions = model.predict(X_test_scaled)

In [51]:
# Overall Score for the model
model.score(X_train_scaled, y_train_scaled)

1.0

In [52]:
model.score(X_test_scaled, y_test_scaled)

-0.32788325379749295

In [53]:
MSE = mean_squared_error(y_test_scaled, predictions)
r2 = model.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.004961736201694682, R2: -0.32788325379749295

# LASSO model

In [54]:
# LASSO model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Lasso

### BEGIN SOLUTION
lasso = Lasso(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = lasso.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = lasso.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.0035687697266425815, R2: 0.04490900684128174

In [55]:
lasso.score(X_train_scaled, y_train_scaled)

0.03869454088908797

In [56]:
lasso.score(X_test_scaled, y_test_scaled)

0.04490900684128174

# Ridge model

In [57]:
# Ridge model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import Ridge

### BEGIN SOLUTION
ridge = Ridge(alpha=.01).fit(X_train_scaled, y_train_scaled)

predictions = ridge.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = ridge.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.0044956111888195425, R2: -0.20313667848346606

In [58]:
ridge.score(X_train_scaled, y_train_scaled)

0.9999659567955442

In [59]:
ridge.score(X_test_scaled, y_test_scaled)

-0.20313667848346606

# ElasticNet model

In [60]:
# ElasticNet model
# Note: Use an alpha of .01 when creating the model for this activity
from sklearn.linear_model import ElasticNet

### BEGIN SOLUTION
elasticnet = ElasticNet(alpha=.01).fit(X_train_scaled, y_train_scaled)
model.score(X_train_scaled, y_train_scaled)

model.score(X_test_scaled, y_test_scaled)
predictions = elasticnet.predict(X_test_scaled)

MSE = mean_squared_error(y_test_scaled, predictions)
r2 = elasticnet.score(X_test_scaled, y_test_scaled)
### END SOLUTION

print(f"MSE: {MSE}, R2: {r2}")

MSE: 0.002621397527550023, R2: 0.2984492248517925

In [61]:
elasticnet.score(X_train_scaled, y_train_scaled)

0.2336431355840808

In [62]:
elasticnet.score(X_test_scaled, y_test_scaled)

0.2984492248517925

# Try Neural Net: Define the architecture

In [112]:
nn_model = Sequential()

In [113]:
nn_model.add(Dense(units=1500, input_dim=16314, activation='relu'))
nn_model.add(Dense(units=800, activation='relu'))
nn_model.add(Dense(units=300, activation='relu'))
nn_model.add(Dense(units=1, activation='linear'))
nn_model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_23 (Dense)             (None, 1500)              24472500
_________________________________________________________________
dense_24 (Dense)             (None, 800)               1200800
_________________________________________________________________
dense_25 (Dense)             (None, 300)               240300
_________________________________________________________________
dense_26 (Dense)             (None, 1)                 301
=================================================================
Total params: 25,913,901
Trainable params: 25,913,901
Non-trainable params: 0
_________________________________________________________________

In [114]:
nn_model.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])

In [115]:
nn_model.fit(
    X_train_scaled,
    y_train_scaled,
    epochs=300,
    shuffle=False,
    verbose=2
)

Train on 1430 samples
Epoch 1/300
1430/1430 - 5s - loss: 0.0075 - mse: 0.0075 - mae: 0.0531
Epoch 2/300
1430/1430 - 5s - loss: 0.0032 - mse: 0.0032 - mae: 0.0324
Epoch 3/300
1430/1430 - 5s - loss: 0.0027 - mse: 0.0027 - mae: 0.0295
Epoch 4/300
1430/1430 - 5s - loss: 0.0025 - mse: 0.0025 - mae: 0.0256
Epoch 5/300
1430/1430 - 5s - loss: 0.0039 - mse: 0.0039 - mae: 0.0252
Epoch 6/300
1430/1430 - 5s - loss: 0.0033 - mse: 0.0033 - mae: 0.0295
Epoch 7/300
1430/1430 - 5s - loss: 0.0047 - mse: 0.0047 - mae: 0.0262
Epoch 8/300
1430/1430 - 5s - loss: 0.0043 - mse: 0.0043 - mae: 0.0237
Epoch 9/300
1430/1430 - 5s - loss: 0.0028 - mse: 0.0028 - mae: 0.0225
Epoch 10/300
1430/1430 - 5s - loss: 0.0031 - mse: 0.0031 - mae: 0.0248
Epoch 11/300
1430/1430 - 5s - loss: 0.0023 - mse: 0.0023 - mae: 0.0228
Epoch 12/300
1430/1430 - 5s - loss: 0.0020 - mse: 0.0020 - mae: 0.0202
Epoch 13/300
1430/1430 - 5s - loss: 0.0012 - mse: 0.0012 - mae: 0.0193
Epoch 14/300
1430/1430 - 5s - loss: 5.5235e-04 - mse: 5.5235e-04 - mae: 0.0137
Epoch 15/300
1430/1430 - 5s - loss: 6.1356e-04 - mse: 6.1356e-04 - mae: 0.0123
Epoch 16/300
1430/1430 - 5s - loss: 5.1730e-04 - mse: 5.1730e-04 - mae: 0.0120
Epoch 17/300
1430/1430 - 5s - loss: 3.2308e-04 - mse: 3.2308e-04 - mae: 0.0110
Epoch 18/300
1430/1430 - 5s - loss: 3.7092e-04 - mse: 3.7092e-04 - mae: 0.0124
Epoch 19/300
1430/1430 - 5s - loss: 4.4891e-04 - mse: 4.4891e-04 - mae: 0.0124
Epoch 20/300
1430/1430 - 5s - loss: 2.7837e-04 - mse: 2.7837e-04 - mae: 0.0102
Epoch 21/300
1430/1430 - 5s - loss: 3.4564e-04 - mse: 3.4564e-04 - mae: 0.0103
Epoch 22/300
1430/1430 - 5s - loss: 5.2027e-04 - mse: 5.2027e-04 - mae: 0.0132
Epoch 23/300
1430/1430 - 5s - loss: 6.6431e-04 - mse: 6.6431e-04 - mae: 0.0131
Epoch 24/300
1430/1430 - 5s - loss: 8.9746e-04 - mse: 8.9746e-04 - mae: 0.0148
Epoch 25/300
1430/1430 - 5s - loss: 8.6616e-04 - mse: 8.6616e-04 - mae: 0.0138
Epoch 26/300
1430/1430 - 5s - loss: 5.4346e-04 - mse: 5.4346e-04 - mae: 0.0126
Epoch 27/300
1430/1430 - 6s - loss: 9.0899e-04 - mse: 9.0899e-04 - mae: 0.0160
Epoch 28/300
1430/1430 - 5s - loss: 0.0011 - mse: 0.0011 - mae: 0.0170
Epoch 29/300
1430/1430 - 5s - loss: 9.3649e-04 - mse: 9.3649e-04 - mae: 0.0148
Epoch 30/300
1430/1430 - 6s - loss: 4.6228e-04 - mse: 4.6228e-04 - mae: 0.0116
Epoch 31/300
1430/1430 - 5s - loss: 1.9921e-04 - mse: 1.9921e-04 - mae: 0.0060
Epoch 32/300
1430/1430 - 5s - loss: 1.7784e-04 - mse: 1.7784e-04 - mae: 0.0053
Epoch 33/300
1430/1430 - 5s - loss: 1.8815e-04 - mse: 1.8815e-04 - mae: 0.0042
Epoch 34/300
1430/1430 - 5s - loss: 1.4989e-04 - mse: 1.4989e-04 - mae: 0.0045
Epoch 35/300
1430/1430 - 5s - loss: 1.1123e-04 - mse: 1.1123e-04 - mae: 0.0052
Epoch 36/300
1430/1430 - 5s - loss: 7.7668e-05 - mse: 7.7668e-05 - mae: 0.0045
Epoch 37/300
1430/1430 - 5s - loss: 9.4694e-05 - mse: 9.4694e-05 - mae: 0.0054
Epoch 38/300
1430/1430 - 5s - loss: 1.4458e-04 - mse: 1.4458e-04 - mae: 0.0056
Epoch 39/300
1430/1430 - 5s - loss: 1.0999e-04 - mse: 1.0999e-04 - mae: 0.0047
Epoch 40/300
1430/1430 - 5s - loss: 1.2672e-04 - mse: 1.2672e-04 - mae: 0.0052
Epoch 41/300
1430/1430 - 5s - loss: 1.4183e-04 - mse: 1.4183e-04 - mae: 0.0051
Epoch 42/300
1430/1430 - 5s - loss: 9.3961e-05 - mse: 9.3961e-05 - mae: 0.0036
Epoch 43/300
1430/1430 - 5s - loss: 2.1861e-04 - mse: 2.1861e-04 - mae: 0.0056
Epoch 44/300
1430/1430 - 5s - loss: 3.9089e-04 - mse: 3.9089e-04 - mae: 0.0079
Epoch 45/300
1430/1430 - 5s - loss: 5.2793e-04 - mse: 5.2793e-04 - mae: 0.0112
Epoch 46/300
1430/1430 - 5s - loss: 5.6838e-04 - mse: 5.6838e-04 - mae: 0.0141
Epoch 47/300
1430/1430 - 5s - loss: 4.8669e-04 - mse: 4.8669e-04 - mae: 0.0120
Epoch 48/300
1430/1430 - 5s - loss: 4.7139e-04 - mse: 4.7139e-04 - mae: 0.0104
Epoch 49/300
1430/1430 - 5s - loss: 4.5947e-04 - mse: 4.5947e-04 - mae: 0.0094
Epoch 50/300
1430/1430 - 5s - loss: 5.8321e-04 - mse: 5.8321e-04 - mae: 0.0087
Epoch 51/300
1430/1430 - 5s - loss: 7.5915e-04 - mse: 7.5915e-04 - mae: 0.0100
Epoch 52/300
1430/1430 - 5s - loss: 6.4055e-04 - mse: 6.4055e-04 - mae: 0.0119
Epoch 53/300
1430/1430 - 5s - loss: 4.3212e-04 - mse: 4.3212e-04 - mae: 0.0102
Epoch 54/300
1430/1430 - 5s - loss: 5.7225e-04 - mse: 5.7225e-04 - mae: 0.0134
Epoch 55/300
1430/1430 - 5s - loss: 4.9824e-04 - mse: 4.9824e-04 - mae: 0.0118
Epoch 56/300
1430/1430 - 5s - loss: 4.0779e-04 - mse: 4.0779e-04 - mae: 0.0113
Epoch 57/300
1430/1430 - 5s - loss: 2.6819e-04 - mse: 2.6819e-04 - mae: 0.0095
Epoch 58/300
1430/1430 - 5s - loss: 1.9281e-04 - mse: 1.9281e-04 - mae: 0.0072
Epoch 59/300
1430/1430 - 5s - loss: 8.6501e-05 - mse: 8.6501e-05 - mae: 0.0053
Epoch 60/300
1430/1430 - 5s - loss: 2.0753e-04 - mse: 2.0753e-04 - mae: 0.0088
Epoch 61/300
1430/1430 - 5s - loss: 1.6737e-04 - mse: 1.6737e-04 - mae: 0.0079
Epoch 62/300
1430/1430 - 5s - loss: 1.7634e-04 - mse: 1.7634e-04 - mae: 0.0085
Epoch 63/300
1430/1430 - 5s - loss: 1.7427e-04 - mse: 1.7427e-04 - mae: 0.0091
Epoch 64/300
1430/1430 - 5s - loss: 1.1126e-04 - mse: 1.1126e-04 - mae: 0.0077
Epoch 65/300
1430/1430 - 5s - loss: 1.4680e-04 - mse: 1.4680e-04 - mae: 0.0080
Epoch 66/300
1430/1430 - 5s - loss: 1.2115e-04 - mse: 1.2115e-04 - mae: 0.0061
Epoch 67/300
1430/1430 - 5s - loss: 1.3837e-04 - mse: 1.3837e-04 - mae: 0.0074
Epoch 68/300
1430/1430 - 5s - loss: 1.2691e-04 - mse: 1.2691e-04 - mae: 0.0094
Epoch 69/300
1430/1430 - 5s - loss: 2.4465e-04 - mse: 2.4465e-04 - mae: 0.0110
Epoch 70/300
1430/1430 - 5s - loss: 2.5570e-04 - mse: 2.5570e-04 - mae: 0.0115
Epoch 71/300
1430/1430 - 5s - loss: 2.6105e-04 - mse: 2.6105e-04 - mae: 0.0119
Epoch 72/300
1430/1430 - 5s - loss: 2.7937e-04 - mse: 2.7937e-04 - mae: 0.0124
Epoch 73/300
1430/1430 - 5s - loss: 5.3800e-04 - mse: 5.3800e-04 - mae: 0.0162
Epoch 74/300
1430/1430 - 5s - loss: 8.5051e-04 - mse: 8.5051e-04 - mae: 0.0164
Epoch 75/300
1430/1430 - 5s - loss: 9.7468e-04 - mse: 9.7468e-04 - mae: 0.0156
Epoch 76/300
1430/1430 - 5s - loss: 8.6114e-04 - mse: 8.6114e-04 - mae: 0.0148
Epoch 77/300
1430/1430 - 5s - loss: 0.0015 - mse: 0.0015 - mae: 0.0158
Epoch 78/300
1430/1430 - 5s - loss: 0.0010 - mse: 0.0010 - mae: 0.0159
Epoch 79/300
1430/1430 - 5s - loss: 9.1973e-04 - mse: 9.1973e-04 - mae: 0.0144
Epoch 80/300
1430/1430 - 5s - loss: 0.0011 - mse: 0.0011 - mae: 0.0158
Epoch 81/300
1430/1430 - 5s - loss: 0.0015 - mse: 0.0015 - mae: 0.0168
Epoch 82/300
1430/1430 - 5s - loss: 0.0012 - mse: 0.0012 - mae: 0.0154
Epoch 83/300
1430/1430 - 5s - loss: 0.0014 - mse: 0.0014 - mae: 0.0151
Epoch 84/300
1430/1430 - 5s - loss: 0.0035 - mse: 0.0035 - mae: 0.0228
Epoch 85/300
1430/1430 - 5s - loss: 0.0021 - mse: 0.0021 - mae: 0.0239
Epoch 86/300
1430/1430 - 5s - loss: 7.9904e-04 - mse: 7.9904e-04 - mae: 0.0173
Epoch 87/300
1430/1430 - 5s - loss: 0.0016 - mse: 0.0016 - mae: 0.0182
Epoch 88/300
1430/1430 - 5s - loss: 9.4415e-04 - mse: 9.4415e-04 - mae: 0.0149
Epoch 89/300
1430/1430 - 5s - loss: 7.7870e-04 - mse: 7.7870e-04 - mae: 0.0163
Epoch 90/300
1430/1430 - 5s - loss: 9.9413e-04 - mse: 9.9413e-04 - mae: 0.0172
Epoch 91/300
1430/1430 - 5s - loss: 4.8050e-04 - mse: 4.8050e-04 - mae: 0.0133
Epoch 92/300
1430/1430 - 5s - loss: 4.0387e-04 - mse: 4.0387e-04 - mae: 0.0141
Epoch 93/300
1430/1430 - 5s - loss: 2.3524e-04 - mse: 2.3524e-04 - mae: 0.0099
Epoch 94/300
1430/1430 - 5s - loss: 1.5917e-04 - mse: 1.5917e-04 - mae: 0.0077
Epoch 95/300
1430/1430 - 5s - loss: 1.6066e-04 - mse: 1.6066e-04 - mae: 0.0068
Epoch 96/300
1430/1430 - 5s - loss: 2.5400e-04 - mse: 2.5400e-04 - mae: 0.0081
Epoch 97/300
1430/1430 - 5s - loss: 1.3952e-04 - mse: 1.3952e-04 - mae: 0.0079
Epoch 98/300
1430/1430 - 5s - loss: 2.3212e-04 - mse: 2.3212e-04 - mae: 0.0092
Epoch 99/300
1430/1430 - 5s - loss: 1.4810e-04 - mse: 1.4810e-04 - mae: 0.0076
Epoch 100/300
1430/1430 - 5s - loss: 1.7611e-04 - mse: 1.7611e-04 - mae: 0.0081
Epoch 101/300
1430/1430 - 5s - loss: 6.3905e-05 - mse: 6.3905e-05 - mae: 0.0048
Epoch 102/300
1430/1430 - 5s - loss: 1.0064e-04 - mse: 1.0064e-04 - mae: 0.0044
Epoch 103/300
1430/1430 - 5s - loss: 6.2520e-05 - mse: 6.2520e-05 - mae: 0.0032
Epoch 104/300
1430/1430 - 5s - loss: 9.8266e-05 - mse: 9.8266e-05 - mae: 0.0045
Epoch 105/300
1430/1430 - 5s - loss: 5.0686e-05 - mse: 5.0686e-05 - mae: 0.0043
Epoch 106/300
1430/1430 - 5s - loss: 1.0372e-04 - mse: 1.0372e-04 - mae: 0.0055

Epoch 107/300
1430/1430 - 5s - loss: 6.8808e-05 - mse: 6.8808e-05 - mae: 0.0043
Epoch 108/300
1430/1430 - 5s - loss: 1.0121e-04 - mse: 1.0121e-04 - mae: 0.0050
Epoch 109/300
1430/1430 - 5s - loss: 5.0575e-05 - mse: 5.0575e-05 - mae: 0.0031
Epoch 110/300
1430/1430 - 5s - loss: 1.1894e-04 - mse: 1.1894e-04 - mae: 0.0037
Epoch 111/300
1430/1430 - 5s - loss: 1.0051e-04 - mse: 1.0051e-04 - mae: 0.0040
Epoch 112/300
1430/1430 - 5s - loss: 1.7261e-04 - mse: 1.7261e-04 - mae: 0.0063
Epoch 113/300
1430/1430 - 5s - loss: 9.2237e-05 - mse: 9.2237e-05 - mae: 0.0052
Epoch 114/300
1430/1430 - 5s - loss: 2.2118e-04 - mse: 2.2118e-04 - mae: 0.0074
Epoch 115/300
1430/1430 - 5s - loss: 1.5792e-04 - mse: 1.5792e-04 - mae: 0.0057
Epoch 116/300
1430/1430 - 5s - loss: 2.6375e-04 - mse: 2.6375e-04 - mae: 0.0062
Epoch 117/300
1430/1430 - 5s - loss: 1.4126e-04 - mse: 1.4126e-04 - mae: 0.0048
Epoch 118/300
1430/1430 - 5s - loss: 2.9423e-04 - mse: 2.9423e-04 - mae: 0.0070
Epoch 119/300
1430/1430 - 5s - loss: 2.4227e-04 - mse: 2.4227e-04 - mae: 0.0074
Epoch 120/300
1430/1430 - 5s - loss: 3.4279e-04 - mse: 3.4279e-04 - mae: 0.0095
Epoch 121/300
1430/1430 - 5s - loss: 2.1779e-04 - mse: 2.1779e-04 - mae: 0.0085
Epoch 122/300
1430/1430 - 5s - loss: 2.8685e-04 - mse: 2.8685e-04 - mae: 0.0078
Epoch 123/300
1430/1430 - 5s - loss: 2.7694e-04 - mse: 2.7694e-04 - mae: 0.0067
Epoch 124/300
1430/1430 - 5s - loss: 3.0472e-04 - mse: 3.0472e-04 - mae: 0.0082
Epoch 125/300
1430/1430 - 5s - loss: 2.0285e-04 - mse: 2.0285e-04 - mae: 0.0073
Epoch 126/300
1430/1430 - 5s - loss: 1.9739e-04 - mse: 1.9739e-04 - mae: 0.0088
Epoch 127/300
1430/1430 - 5s - loss: 2.2200e-04 - mse: 2.2200e-04 - mae: 0.0088
Epoch 128/300
1430/1430 - 5s - loss: 2.0980e-04 - mse: 2.0980e-04 - mae: 0.0086
Epoch 129/300
1430/1430 - 5s - loss: 1.5807e-04 - mse: 1.5807e-04 - mae: 0.0073
Epoch 130/300
1430/1430 - 5s - loss: 1.3194e-04 - mse: 1.3194e-04 - mae: 0.0072
Epoch 131/300
1430/1430 - 5s - loss: 2.1808e-04 - mse: 2.1808e-04 - mae: 0.0088
Epoch 132/300
1430/1430 - 5s - loss: 1.8359e-04 - mse: 1.8359e-04 - mae: 0.0095
Epoch 133/300
1430/1430 - 5s - loss: 2.4098e-04 - mse: 2.4098e-04 - mae: 0.0117
Epoch 134/300
1430/1430 - 5s - loss: 1.7748e-04 - mse: 1.7748e-04 - mae: 0.0101
Epoch 135/300
1430/1430 - 5s - loss: 2.9004e-04 - mse: 2.9004e-04 - mae: 0.0118
Epoch 136/300
1430/1430 - 5s - loss: 3.5422e-04 - mse: 3.5422e-04 - mae: 0.0136
Epoch 137/300
1430/1430 - 5s - loss: 3.8883e-04 - mse: 3.8883e-04 - mae: 0.0129
Epoch 138/300
1430/1430 - 5s - loss: 3.1645e-04 - mse: 3.1645e-04 - mae: 0.0124
Epoch 139/300
1430/1430 - 5s - loss: 4.3461e-04 - mse: 4.3461e-04 - mae: 0.0140
Epoch 140/300
1430/1430 - 5s - loss: 5.6193e-04 - mse: 5.6193e-04 - mae: 0.0181
Epoch 141/300
1430/1430 - 5s - loss: 4.6899e-04 - mse: 4.6899e-04 - mae: 0.0169
Epoch 142/300
1430/1430 - 5s - loss: 3.0767e-04 - mse: 3.0767e-04 - mae: 0.0133
Epoch 143/300
1430/1430 - 5s - loss: 1.8050e-04 - mse: 1.8050e-04 - mae: 0.0091
Epoch 144/300
1430/1430 - 5s - loss: 1.7030e-04 - mse: 1.7030e-04 - mae: 0.0082
Epoch 145/300
1430/1430 - 5s - loss: 2.1896e-04 - mse: 2.1896e-04 - mae: 0.0084
Epoch 146/300
1430/1430 - 5s - loss: 1.4669e-04 - mse: 1.4669e-04 - mae: 0.0060
Epoch 147/300
1430/1430 - 5s - loss: 1.0781e-04 - mse: 1.0781e-04 - mae: 0.0047
Epoch 148/300
1430/1430 - 5s - loss: 9.5195e-05 - mse: 9.5195e-05 - mae: 0.0041
Epoch 149/300
1430/1430 - 5s - loss: 2.2959e-04 - mse: 2.2959e-04 - mae: 0.0067
Epoch 150/300
1430/1430 - 5s - loss: 2.0536e-04 - mse: 2.0536e-04 - mae: 0.0076
Epoch 151/300
1430/1430 - 5s - loss: 2.9494e-04 - mse: 2.9494e-04 - mae: 0.0090
Epoch 152/300
1430/1430 - 5s - loss: 1.5358e-04 - mse: 1.5358e-04 - mae: 0.0066
Epoch 153/300
1430/1430 - 5s - loss: 1.9680e-04 - mse: 1.9680e-04 - mae: 0.0087
Epoch 154/300
1430/1430 - 5s - loss: 1.8106e-04 - mse: 1.8106e-04 - mae: 0.0081
Epoch 155/300
1430/1430 - 5s - loss: 1.2236e-04 - mse: 1.2236e-04 - mae: 0.0057
Epoch 156/300
1430/1430 - 5s - loss: 1.4484e-04 - mse: 1.4484e-04 - mae: 0.0055
Epoch 157/300
1430/1430 - 5s - loss: 6.9426e-05 - mse: 6.9426e-05 - mae: 0.0034
Epoch 158/300
1430/1430 - 5s - loss: 2.1394e-04 - mse: 2.1394e-04 - mae: 0.0055
Epoch 159/300
1430/1430 - 5s - loss: 1.5118e-04 - mse: 1.5118e-04 - mae: 0.0049
Epoch 160/300
1430/1430 - 5s - loss: 2.0147e-04 - mse: 2.0147e-04 - mae: 0.0070
Epoch 161/300
1430/1430 - 5s - loss: 1.0499e-04 - mse: 1.0499e-04 - mae: 0.0053
Epoch 162/300
1430/1430 - 5s - loss: 1.1313e-04 - mse: 1.1313e-04 - mae: 0.0058
Epoch 163/300
1430/1430 - 5s - loss: 1.4896e-04 - mse: 1.4896e-04 - mae: 0.0063
Epoch 164/300
1430/1430 - 5s - loss: 9.7106e-05 - mse: 9.7106e-05 - mae: 0.0041
Epoch 165/300
1430/1430 - 5s - loss: 1.4610e-04 - mse: 1.4610e-04 - mae: 0.0046
Epoch 166/300
1430/1430 - 5s - loss: 6.7860e-05 - mse: 6.7860e-05 - mae: 0.0031
Epoch 167/300
1430/1430 - 5s - loss: 1.5277e-04 - mse: 1.5277e-04 - mae: 0.0055
Epoch 168/300
1430/1430 - 5s - loss: 1.0672e-04 - mse: 1.0672e-04 - mae: 0.0050
Epoch 169/300
1430/1430 - 5s - loss: 1.1758e-04 - mse: 1.1758e-04 - mae: 0.0059
Epoch 170/300
1430/1430 - 5s - loss: 1.0741e-04 - mse: 1.0741e-04 - mae: 0.0056
Epoch 171/300
1430/1430 - 5s - loss: 7.4380e-05 - mse: 7.4380e-05 - mae: 0.0043
Epoch 172/300
1430/1430 - 5s - loss: 1.7407e-04 - mse: 1.7407e-04 - mae: 0.0048
Epoch 173/300
1430/1430 - 5s - loss: 1.2397e-04 - mse: 1.2397e-04 - mae: 0.0041
Epoch 174/300
1430/1430 - 5s - loss: 2.0257e-04 - mse: 2.0257e-04 - mae: 0.0065
Epoch 175/300
1430/1430 - 5s - loss: 1.1082e-04 - mse: 1.1082e-04 - mae: 0.0052
Epoch 176/300
1430/1430 - 5s - loss: 1.4119e-04 - mse: 1.4119e-04 - mae: 0.0073
Epoch 177/300
1430/1430 - 5s - loss: 1.6275e-04 - mse: 1.6275e-04 - mae: 0.0079
Epoch 178/300
1430/1430 - 5s - loss: 1.1963e-04 - mse: 1.1963e-04 - mae: 0.0067
Epoch 179/300
1430/1430 - 5s - loss: 1.0550e-04 - mse: 1.0550e-04 - mae: 0.0063
Epoch 180/300
1430/1430 - 5s - loss: 1.6885e-04 - mse: 1.6885e-04 - mae: 0.0058
Epoch 181/300
1430/1430 - 5s - loss: 1.4150e-04 - mse: 1.4150e-04 - mae: 0.0064
Epoch 182/300
1430/1430 - 5s - loss: 2.8943e-04 - mse: 2.8943e-04 - mae: 0.0078
Epoch 183/300
1430/1430 - 5s - loss: 2.1895e-04 - mse: 2.1895e-04 - mae: 0.0086
Epoch 184/300
1430/1430 - 5s - loss: 2.5190e-04 - mse: 2.5190e-04 - mae: 0.0106
Epoch 185/300
1430/1430 - 5s - loss: 2.8201e-04 - mse: 2.8201e-04 - mae: 0.0118
Epoch 186/300
1430/1430 - 5s - loss: 2.6468e-04 - mse: 2.6468e-04 - mae: 0.0126
Epoch 187/300
1430/1430 - 5s - loss: 4.0308e-04 - mse: 4.0308e-04 - mae: 0.0141
Epoch 188/300
1430/1430 - 5s - loss: 2.6368e-04 - mse: 2.6368e-04 - mae: 0.0111
Epoch 189/300
1430/1430 - 5s - loss: 2.7728e-04 - mse: 2.7728e-04 - mae: 0.0103
Epoch 190/300
1430/1430 - 5s - loss: 1.7085e-04 - mse: 1.7085e-04 - mae: 0.0082
Epoch 191/300
1430/1430 - 5s - loss: 2.8219e-04 - mse: 2.8219e-04 - mae: 0.0098
Epoch 192/300
1430/1430 - 5s - loss: 2.9089e-04 - mse: 2.9089e-04 - mae: 0.0115
Epoch 193/300
1430/1430 - 5s - loss: 2.8580e-04 - mse: 2.8580e-04 - mae: 0.0126
Epoch 194/300
1430/1430 - 5s - loss: 2.8841e-04 - mse: 2.8841e-04 - mae: 0.0118
Epoch 195/300
1430/1430 - 5s - loss: 2.3332e-04 - mse: 2.3332e-04 - mae: 0.0110
Epoch 196/300
1430/1430 - 5s - loss: 2.1703e-04 - mse: 2.1703e-04 - mae: 0.0109
Epoch 197/300
1430/1430 - 5s - loss: 1.6518e-04 - mse: 1.6518e-04 - mae: 0.0096
Epoch 198/300
1430/1430 - 5s - loss: 2.0627e-04 - mse: 2.0627e-04 - mae: 0.0088
Epoch 199/300
1430/1430 - 5s - loss: 2.1764e-04 - mse: 2.1763e-04 - mae: 0.0097
Epoch 200/300
1430/1430 - 5s - loss: 2.9407e-04 - mse: 2.9407e-04 - mae: 0.0108
Epoch 201/300
1430/1430 - 5s - loss: 1.9837e-04 - mse: 1.9837e-04 - mae: 0.0103
Epoch 202/300
1430/1430 - 5s - loss: 1.8854e-04 - mse: 1.8854e-04 - mae: 0.0097
Epoch 203/300
1430/1430 - 5s - loss: 2.3863e-04 - mse: 2.3863e-04 - mae: 0.0114
Epoch 204/300
1430/1430 - 5s - loss: 2.0954e-04 - mse: 2.0954e-04 - mae: 0.0119
Epoch 205/300
1430/1430 - 5s - loss: 2.3574e-04 - mse: 2.3574e-04 - mae: 0.0118
Epoch 206/300
1430/1430 - 5s - loss: 1.6936e-04 - mse: 1.6936e-04 - mae: 0.0094
Epoch 207/300
1430/1430 - 5s - loss: 1.0884e-04 - mse: 1.0884e-04 - mae: 0.0080
Epoch 208/300
1430/1430 - 5s - loss: 7.7653e-05 - mse: 7.7653e-05 - mae: 0.0069
Epoch 209/300
1430/1430 - 5s - loss: 4.3570e-05 - mse: 4.3570e-05 - mae: 0.0051

Epoch 210/300
1430/1430 - 5s - loss: 2.5918e-05 - mse: 2.5918e-05 - mae: 0.0040
Epoch 211/300
1430/1430 - 5s - loss: 2.2459e-05 - mse: 2.2459e-05 - mae: 0.0035
Epoch 212/300
1430/1430 - 5s - loss: 1.4746e-05 - mse: 1.4746e-05 - mae: 0.0027
Epoch 213/300
1430/1430 - 5s - loss: 1.1771e-05 - mse: 1.1771e-05 - mae: 0.0022
Epoch 214/300
1430/1430 - 5s - loss: 1.0116e-05 - mse: 1.0116e-05 - mae: 0.0017
Epoch 215/300
1430/1430 - 5s - loss: 7.0849e-06 - mse: 7.0849e-06 - mae: 0.0013
Epoch 216/300
1430/1430 - 5s - loss: 1.4994e-05 - mse: 1.4994e-05 - mae: 0.0017
Epoch 217/300
1430/1430 - 5s - loss: 1.8061e-05 - mse: 1.8061e-05 - mae: 0.0020
Epoch 218/300
1430/1430 - 5s - loss: 1.8597e-05 - mse: 1.8597e-05 - mae: 0.0024
Epoch 219/300
1430/1430 - 5s - loss: 3.6949e-05 - mse: 3.6949e-05 - mae: 0.0033
Epoch 220/300
1430/1430 - 5s - loss: 3.7782e-05 - mse: 3.7782e-05 - mae: 0.0035
Epoch 221/300
1430/1430 - 5s - loss: 3.6803e-05 - mse: 3.6803e-05 - mae: 0.0040
Epoch 222/300
1430/1430 - 5s - loss: 9.7884e-05 - mse: 9.7884e-05 - mae: 0.0058
Epoch 223/300
1430/1430 - 5s - loss: 1.2499e-04 - mse: 1.2499e-04 - mae: 0.0060
Epoch 224/300
1430/1430 - 5s - loss: 1.2414e-04 - mse: 1.2414e-04 - mae: 0.0056
Epoch 225/300
1430/1430 - 5s - loss: 2.4783e-04 - mse: 2.4783e-04 - mae: 0.0073
Epoch 226/300
1430/1430 - 5s - loss: 1.9428e-04 - mse: 1.9428e-04 - mae: 0.0066
Epoch 227/300
1430/1430 - 5s - loss: 1.5968e-04 - mse: 1.5968e-04 - mae: 0.0065
Epoch 228/300
1430/1430 - 5s - loss: 4.8479e-04 - mse: 4.8479e-04 - mae: 0.0100
Epoch 229/300
1430/1430 - 5s - loss: 4.0877e-04 - mse: 4.0877e-04 - mae: 0.0096
Epoch 230/300
1430/1430 - 5s - loss: 2.8938e-04 - mse: 2.8938e-04 - mae: 0.0086
Epoch 231/300
1430/1430 - 5s - loss: 1.9559e-04 - mse: 1.9559e-04 - mae: 0.0070
Epoch 232/300
1430/1430 - 5s - loss: 7.8552e-05 - mse: 7.8552e-05 - mae: 0.0049
Epoch 233/300
1430/1430 - 5s - loss: 1.4905e-04 - mse: 1.4905e-04 - mae: 0.0055
Epoch 234/300
1430/1430 - 5s - loss: 7.7207e-05 - mse: 7.7207e-05 - mae: 0.0037
Epoch 235/300
1430/1430 - 5s - loss: 7.1987e-05 - mse: 7.1987e-05 - mae: 0.0043
Epoch 236/300
1430/1430 - 5s - loss: 3.0908e-05 - mse: 3.0908e-05 - mae: 0.0027
Epoch 237/300
1430/1430 - 5s - loss: 1.5057e-05 - mse: 1.5057e-05 - mae: 0.0022
Epoch 238/300
1430/1430 - 5s - loss: 2.1759e-05 - mse: 2.1759e-05 - mae: 0.0025
Epoch 239/300
1430/1430 - 5s - loss: 1.1174e-05 - mse: 1.1174e-05 - mae: 0.0017
Epoch 240/300
1430/1430 - 5s - loss: 1.1635e-05 - mse: 1.1635e-05 - mae: 0.0015
Epoch 241/300
1430/1430 - 5s - loss: 1.0398e-05 - mse: 1.0398e-05 - mae: 0.0013
Epoch 242/300
1430/1430 - 5s - loss: 5.4554e-06 - mse: 5.4554e-06 - mae: 0.0011
Epoch 243/300
1430/1430 - 5s - loss: 8.9733e-06 - mse: 8.9733e-06 - mae: 0.0017
Epoch 244/300
1430/1430 - 5s - loss: 1.1058e-05 - mse: 1.1058e-05 - mae: 0.0018
Epoch 245/300
1430/1430 - 5s - loss: 6.7069e-06 - mse: 6.7069e-06 - mae: 0.0015
Epoch 246/300
1430/1430 - 5s - loss: 9.3534e-06 - mse: 9.3534e-06 - mae: 0.0018
Epoch 247/300
1430/1430 - 5s - loss: 9.0357e-06 - mse: 9.0357e-06 - mae: 0.0017
Epoch 248/300
1430/1430 - 5s - loss: 7.4948e-06 - mse: 7.4948e-06 - mae: 0.0015
Epoch 249/300
1430/1430 - 5s - loss: 1.4852e-05 - mse: 1.4852e-05 - mae: 0.0017
Epoch 250/300
1430/1430 - 5s - loss: 1.7079e-05 - mse: 1.7079e-05 - mae: 0.0018
Epoch 251/300
1430/1430 - 5s - loss: 1.7502e-05 - mse: 1.7502e-05 - mae: 0.0025
Epoch 252/300
1430/1430 - 5s - loss: 3.6154e-05 - mse: 3.6154e-05 - mae: 0.0035
Epoch 253/300
1430/1430 - 5s - loss: 3.7217e-05 - mse: 3.7217e-05 - mae: 0.0036
Epoch 254/300
1430/1430 - 5s - loss: 3.5682e-05 - mse: 3.5682e-05 - mae: 0.0040
Epoch 255/300
1430/1430 - 5s - loss: 7.1053e-05 - mse: 7.1053e-05 - mae: 0.0052
Epoch 256/300
1430/1430 - 5s - loss: 9.3045e-05 - mse: 9.3045e-05 - mae: 0.0052
Epoch 257/300
1430/1430 - 5s - loss: 8.7491e-05 - mse: 8.7491e-05 - mae: 0.0048
Epoch 258/300
1430/1430 - 5s - loss: 1.6099e-04 - mse: 1.6099e-04 - mae: 0.0050
Epoch 259/300
1430/1430 - 5s - loss: 2.0662e-04 - mse: 2.0662e-04 - mae: 0.0053
Epoch 260/300
1430/1430 - 5s - loss: 1.8067e-04 - mse: 1.8067e-04 - mae: 0.0074
Epoch 261/300
1430/1430 - 5s - loss: 1.8840e-04 - mse: 1.8840e-04 - mae: 0.0084
Epoch 262/300
1430/1430 - 5s - loss: 5.4763e-04 - mse: 5.4763e-04 - mae: 0.0136
Epoch 263/300
1430/1430 - 5s - loss: 5.4466e-04 - mse: 5.4466e-04 - mae: 0.0150
Epoch 264/300
1430/1430 - 5s - loss: 3.4104e-04 - mse: 3.4104e-04 - mae: 0.0139
Epoch 265/300
1430/1430 - 5s - loss: 2.6903e-04 - mse: 2.6903e-04 - mae: 0.0124
Epoch 266/300
1430/1430 - 5s - loss: 2.8124e-04 - mse: 2.8124e-04 - mae: 0.0123
Epoch 267/300
1430/1430 - 5s - loss: 1.8370e-04 - mse: 1.8370e-04 - mae: 0.0098
Epoch 268/300
1430/1430 - 5s - loss: 1.8771e-04 - mse: 1.8771e-04 - mae: 0.0095
Epoch 269/300
1430/1430 - 5s - loss: 1.7343e-04 - mse: 1.7343e-04 - mae: 0.0088
Epoch 270/300
1430/1430 - 5s - loss: 1.5858e-04 - mse: 1.5858e-04 - mae: 0.0095
Epoch 271/300
1430/1430 - 5s - loss: 1.5770e-04 - mse: 1.5770e-04 - mae: 0.0099
Epoch 272/300
1430/1430 - 5s - loss: 1.6129e-04 - mse: 1.6129e-04 - mae: 0.0102
Epoch 273/300
1430/1430 - 5s - loss: 1.5559e-04 - mse: 1.5559e-04 - mae: 0.0101
Epoch 274/300
1430/1430 - 5s - loss: 2.0644e-04 - mse: 2.0644e-04 - mae: 0.0106
Epoch 275/300
1430/1430 - 5s - loss: 1.9871e-04 - mse: 1.9871e-04 - mae: 0.0112
Epoch 276/300
1430/1430 - 5s - loss: 1.9425e-04 - mse: 1.9425e-04 - mae: 0.0115
Epoch 277/300
1430/1430 - 5s - loss: 1.7862e-04 - mse: 1.7862e-04 - mae: 0.0107
Epoch 278/300
1430/1430 - 5s - loss: 1.4961e-04 - mse: 1.4961e-04 - mae: 0.0098
Epoch 279/300
1430/1430 - 5s - loss: 1.2018e-04 - mse: 1.2018e-04 - mae: 0.0087
Epoch 280/300
1430/1430 - 5s - loss: 9.3660e-05 - mse: 9.3660e-05 - mae: 0.0077
Epoch 281/300
1430/1430 - 5s - loss: 8.1663e-05 - mse: 8.1663e-05 - mae: 0.0067
Epoch 282/300
1430/1430 - 5s - loss: 6.1893e-05 - mse: 6.1893e-05 - mae: 0.0057
Epoch 283/300
1430/1430 - 5s - loss: 4.9327e-05 - mse: 4.9327e-05 - mae: 0.0052
Epoch 284/300
1430/1430 - 5s - loss: 4.7869e-05 - mse: 4.7869e-05 - mae: 0.0051
Epoch 285/300
1430/1430 - 5s - loss: 4.4024e-05 - mse: 4.4024e-05 - mae: 0.0048
Epoch 286/300
1430/1430 - 5s - loss: 3.0453e-05 - mse: 3.0453e-05 - mae: 0.0040
Epoch 287/300
1430/1430 - 5s - loss: 2.6176e-05 - mse: 2.6176e-05 - mae: 0.0036
Epoch 288/300
1430/1430 - 5s - loss: 3.2120e-05 - mse: 3.2120e-05 - mae: 0.0036
Epoch 289/300
1430/1430 - 5s - loss: 2.6572e-05 - mse: 2.6572e-05 - mae: 0.0030
Epoch 290/300
1430/1430 - 5s - loss: 2.5384e-05 - mse: 2.5384e-05 - mae: 0.0029
Epoch 291/300
1430/1430 - 5s - loss: 3.6708e-05 - mse: 3.6708e-05 - mae: 0.0033
Epoch 292/300
1430/1430 - 6s - loss: 3.5556e-05 - mse: 3.5556e-05 - mae: 0.0032
Epoch 293/300
1430/1430 - 5s - loss: 3.0986e-05 - mse: 3.0986e-05 - mae: 0.0031
Epoch 294/300
1430/1430 - 5s - loss: 6.7055e-05 - mse: 6.7055e-05 - mae: 0.0042
Epoch 295/300
1430/1430 - 5s - loss: 9.1294e-05 - mse: 9.1294e-05 - mae: 0.0045
Epoch 296/300
1430/1430 - 5s - loss: 6.8004e-05 - mse: 6.8004e-05 - mae: 0.0041
Epoch 297/300
1430/1430 - 5s - loss: 1.0660e-04 - mse: 1.0660e-04 - mae: 0.0055
Epoch 298/300
1430/1430 - 5s - loss: 1.3998e-04 - mse: 1.3998e-04 - mae: 0.0063
Epoch 299/300
1430/1430 - 5s - loss: 9.8523e-05 - mse: 9.8523e-05 - mae: 0.0059
Epoch 300/300
1430/1430 - 5s - loss: 1.7270e-04 - mse: 1.7270e-04 - mae: 0.0076

In [118]:
nn_model.evaluate(
    X_test_scaled, y_test_scaled, verbose=2)

477/477 - 0s - loss: 0.0025 - mse: 0.0025 - mae: 0.0320

[0.0024977298175224904, 0.0024977298, 0.031986564]